.red-strip {
  background-color: red;
}

.blue-strip {
  background-color: blue;
}

.green-strip {
  background-color: green;
}

.yellow-strip {
  background-color: yellow;
}

.orange-strip {
  background-color: orange;
}